MolliesMovies/Scraper/Plex/Schema/Videos/videos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MediaContainer" type="MediaContainerType"/>
  <xs:complexType name="PartType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="key" use="optional"/>
        <xs:attribute type="xs:string" name="duration" use="optional"/>
        <xs:attribute type="xs:string" name="file" use="optional"/>
        <xs:attribute type="xs:string" name="size" use="optional"/>
        <xs:attribute type="xs:string" name="audioProfile" use="optional"/>
        <xs:attribute type="xs:string" name="container" use="optional"/>
        <xs:attribute type="xs:string" name="videoProfile" use="optional"/>
        <xs:attribute type="xs:string" name="has64bitOffsets" use="optional"/>
        <xs:attribute type="xs:string" name="optimizedForStreaming" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MediaType">
    <xs:sequence>
      <xs:element type="PartType" name="Part"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="duration" use="optional"/>
    <xs:attribute type="xs:string" name="bitrate" use="optional"/>
    <xs:attribute type="xs:string" name="width" use="optional"/>
    <xs:attribute type="xs:string" name="height" use="optional"/>
    <xs:attribute type="xs:string" name="aspectRatio" use="optional"/>
    <xs:attribute type="xs:string" name="audioChannels" use="optional"/>
    <xs:attribute type="xs:string" name="audioCodec" use="optional"/>
    <xs:attribute type="xs:string" name="videoCodec" use="optional"/>
    <xs:attribute type="xs:string" name="videoResolution" use="optional"/>
    <xs:attribute type="xs:string" name="container" use="optional"/>
    <xs:attribute type="xs:string" name="videoFrameRate" use="optional"/>
    <xs:attribute type="xs:string" name="audioProfile" use="optional"/>
    <xs:attribute type="xs:string" name="videoProfile" use="optional"/>
    <xs:attribute type="xs:string" name="optimizedForStreaming" use="optional"/>
    <xs:attribute type="xs:string" name="has64bitOffsets" use="optional"/>
  </xs:complexType>
  <xs:complexType name="GenreType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="tag" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DirectorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="tag" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WriterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="tag" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="tag" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RoleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="tag" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VideoType">
    <xs:sequence>
      <xs:element type="MediaType" name="Media"/>
      <xs:element type="GenreType" name="Genre" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="DirectorType" name="Director" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="WriterType" name="Writer" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="CountryType" name="Country" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="RoleType" name="Role" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ratingKey" use="optional"/>
    <xs:attribute type="xs:string" name="key" use="optional"/>
    <xs:attribute type="xs:string" name="guid" use="optional"/>
    <xs:attribute type="xs:string" name="studio" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="title" use="optional"/>
    <xs:attribute type="xs:string" name="contentRating" use="optional"/>
    <xs:attribute type="xs:string" name="summary" use="optional"/>
    <xs:attribute type="xs:string" name="rating" use="optional"/>
    <xs:attribute type="xs:string" name="audienceRating" use="optional"/>
    <xs:attribute type="xs:string" name="year" use="optional"/>
    <xs:attribute type="xs:string" name="thumb" use="optional"/>
    <xs:attribute type="xs:string" name="art" use="optional"/>
    <xs:attribute type="xs:string" name="duration" use="optional"/>
    <xs:attribute type="xs:string" name="originallyAvailableAt" use="optional"/>
    <xs:attribute type="xs:string" name="addedAt" use="optional"/>
    <xs:attribute type="xs:string" name="updatedAt" use="optional"/>
    <xs:attribute type="xs:string" name="audienceRatingImage" use="optional"/>
    <xs:attribute type="xs:string" name="hasPremiumPrimaryExtra" use="optional"/>
    <xs:attribute type="xs:string" name="ratingImage" use="optional"/>
    <xs:attribute type="xs:string" name="tagline" use="optional"/>
    <xs:attribute type="xs:string" name="chapterSource" use="optional"/>
    <xs:attribute type="xs:string" name="hasPremiumExtras" use="optional"/>
    <xs:attribute type="xs:string" name="titleSort" use="optional"/>
    <xs:attribute type="xs:string" name="viewOffset" use="optional"/>
    <xs:attribute type="xs:string" name="lastViewedAt" use="optional"/>
    <xs:attribute type="xs:string" name="viewCount" use="optional"/>
    <xs:attribute type="xs:string" name="originalTitle" use="optional"/>
  </xs:complexType>
  <xs:complexType name="MediaContainerType">
    <xs:sequence>
      <xs:element type="VideoType" name="Video" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="size"/>
    <xs:attribute type="xs:string" name="allowSync"/>
    <xs:attribute type="xs:string" name="art"/>
    <xs:attribute type="xs:string" name="identifier"/>
    <xs:attribute type="xs:string" name="librarySectionID"/>
    <xs:attribute type="xs:string" name="librarySectionTitle"/>
    <xs:attribute type="xs:string" name="librarySectionUUID"/>
    <xs:attribute type="xs:string" name="mediaTagPrefix"/>
    <xs:attribute type="xs:string" name="mediaTagVersion"/>
    <xs:attribute type="xs:string" name="thumb"/>
    <xs:attribute type="xs:string" name="title1"/>
    <xs:attribute type="xs:string" name="title2"/>
    <xs:attribute type="xs:string" name="viewGroup"/>
    <xs:attribute type="xs:string" name="viewMode"/>
  </xs:complexType>
</xs:schema>